* {
    font-family: Arial, Helvetica, sans-serif;
}


.login-container {
    border: 1px solid grey;
    margin-top: 5%;
    max-width: 20%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
}

label {
    text-align: left;
    font-family: sans-serif;
}

input {
    padding: 10px;
}

button {
    background-color: blue;
    color: aliceblue;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
    border-style: none;
    margin-bottom: 10px;
}

button:hover {
    background-color: aqua;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
}

.forgot-password {
    padding-bottom: 10px;
    text-decoration: none;
}

.register-button {
    border: 2px solid blue;
    padding: 5px;
    text-decoration: none;
}