body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

li > a {
    color: brown;
}

#active {font-weight: bolder;}

h1 {
    background-color: darkorange;
    font-size: 60px;
}

h2 {
    color: red
}

p {
    line-height: 1.5; 
}

.voorbeeld1 {color: green;}

.voorbeeld2 {background-color: darkturquoise;}

.voorbeeld-span {background-color: yellow;}