* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery {
  background: #efefef;
  max-width: 75rem; /* 16 * 75 = 1200px p*/
  padding: 1rem;
  margin: auto;
}

.gallery ul,
.gallery li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery li {
  /* width: 33%; */
  /* flex: 1 0 33%; */
  flex: 1 1 378.666px; /* breedte - 2x padding - 2x gap */
  background: #eee;
  position: relative;
}

.movie-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
}

.movie-title:hover {
  opacity: 1;
}
