body {
  margin: 0;
  padding: 1rem;
}

header,
footer,
article {
  padding: 1rem 2rem;
}

.sticky {
  position: sticky;
  background-color: orange;
  top: 50px
}

article {
  min-height: 150vh;
  background-color: beige;
  margin: 1rem 0;
}

header,
footer {
  background-color: tomato;
}

nav {
  background-color: gold;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  width: 100%;
  z-index: 10;
}

/* de chatlink komt onderaan rechts, en blijft altijd staan */
#chat {
  position: fixed;
  right: 0;
  bottom: 0;
  background: url(/Oefenbestanden/WC5\ -\ oefenbestanden/images/chat-icon.png) no-repeat center 5px;
  background-size: 30px;
  padding: 40px 10px 10px 10px;
}

#chat:hover {
  background-position: center 10px;
  background-color: orange;
}

/* de sharelink komt links, en srolled dan mee naar boven */
#share {
  background: black;
  color: white;
  padding: 10px;
  text-decoration: none;
}
