body {
    background-color: lightcoral;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    
}

table {
    background-color: whitesmoke;
    border-collapse: collapse;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

thead {
    color: grey;
}

thead {
    text-transform: capitalize;
}

th, td {
    padding: 5px;
}

.firstColumn {
    text-align: left;
    
}

.secondColumn {
    text-align: center;
}

.thirdColumn {
    text-align: right;
}

#total {
    color: green;
}

tbody {
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
}

