* {
    box-sizing: border-box;
    margin: 0;
}

figure {
    background-color: #efefef;
    width: 300px;
    box-shadow: 0 10px 14px rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 1em 1em 0 1em;
    margin: 1em auto
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
    padding: 0.5em;
}