* {
    box-sizing: border-box;
    margin: 0;
}

div.intro {
    background-image: url("../../../Oefenbestanden/WC3\ -\ oefenbestanden/images/bttf-header.jpg");
    background-position: top center;
}

.intro {
    color: white;
}

.intro>h1 {
    font-size: 3em;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 75%;
    padding: 2em;
    margin: auto;
    letter-spacing: 0.2em;
}

.intro>p {
    padding: 6em;

    padding-top: 0;
    text-align: center;
}

.movie-row {
    display: flex;
    margin: 2em;
}

img {
    width: 300px;
    margin-right: 1em;
}

.movie-date {
    color: gray;
    text-align: right;
}

*.movie-text>p:not(.movie-date) {
    padding: 5px;
    text-align: justify;
    text-indent: 2em;
}