h1 {text-align: center;}

table {margin: auto;width: 75%; border-collapse: collapse;}

td, th { padding: 0.5em; text-align: left;}

th {
  color: white;
  background-color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid white;
}

th:first-child {
    border-left: solid 1px black;
}

th:last-child {
    border-right: black solid 1px;
}

td {
    border: black solid 1px;
}

caption {caption-side: bottom;}

tr:nth-of-type(even) {
    background-color: lightslategray;
}

tr:not(:nth-of-type(even)) {
    background-color: lightgray;
}

tr:hover {
    background-color: red;
}

