body {
  margin: 0;
  padding: 1rem;
}

header,
footer,
article {
  padding: 1rem 2rem;
}

article {
  min-height: 150vh;
  background-color: beige;
  margin: 1rem 0;
}

header,
footer {
  background-color: tomato;
  
}

nav {
  background-color: gold;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
}

h2 {
    background-color: orange;
    position: sticky;
    top: 0;
}


/* de chatlink komt onderaan rechts, en blijft altijd staan */
#chat {
  background: url('/Module 5/Lesbestanden/WC5 - oefenbestanden/images/chat-icon.png');
  background-size:25px;
  background-repeat: no-repeat;
  padding-top: 30px;
  background-position:top;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#chat:hover {
    background-color: orange;
    background-position: center 5px;

}

/* de sharelink komt links, en srolled dan mee naar boven */
#share {
  background: black;
  color: white;
  padding: 10px;
  text-decoration: none;
}
