body {
    background-color: blue;
}

h1 {
    text-align: center;
    padding: 15vw;
    background: url(../images/bg-s.jpg) center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

@media screen and (min-width: 801px) {
    
body {
    background-color: red;
}

h1 {
    text-align: center;
    padding: 15vw;
    background: url(../images/bg-m.jpg) center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

}

@media screen and (min-width: 1201px) {
    
body {
    background-color: yellow;
}

h1 {
    text-align: center;
    padding: 15vw;
    background: url(../images/bg-l.jpg) center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

}