.movie-image {
    width: 30%;
    position: relative;    
}

img {
    max-width: 100%;
    display: block;
}

.image-overlay {
    background-image: linear-gradient(to right, yellow, transparent);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

a {
    position: absolute;
    top: 0;
    right: 0;
}

a:hover {
    background-color: orange;
}