body {
  margin: 0;
}

header,
footer,
article {
  padding: 1rem 2rem;
}

article {
  min-height: 150vh;
  background-color: beige;
  margin: 1rem 0;
}

header,
footer {
  background-color: tomato;
}

nav {
  background-color: gold;
  padding: 0.2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

h2 {
  background-color: orange;
  position: sticky;
  top: 0;
}

/* de chatlink komt onderaan rechts, en blijft altijd staan */
#chat {
  border: 1px solid gray;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding-top: 2.5em;
  background-image: url("../../../Oefenbestanden/WC5 - oefenbestanden/images/chat-icon.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center 5px;
}

#chat:hover {
  background-position: center 10px;
  background-color: orange;
}

/* de sharelink komt links, en srolled dan mee naar boven */
#share {
  background: black;
  color: white;
  padding: 10px;
  text-decoration: none;
}
