

h2 {
    clear: both;
}

p {
    line-height: 1.5;
}

#woestijn {
    width: 200px;
    float: left;
    margin: 0 1em 1em 0;
}

#Bos {
    width: 200px;
    float: right;
    margin: 0 0 1em 1em;
}