body {
    background-color: black;
}

h1 {
    color: white;
    font-weight: bolder;
}

blockquote {
    color: white;
    font-size: 2rem;
    background-color: #143843;
    width: 50%;
    border: 5px solid white;
    padding: 2rem;
    margin: 3rem;
}

blockquote.two {
    margin: 3rem auto 3rem auto;
}

blockquote.three {
    margin: 3rem 3rem auto auto;
    text-align: left;
}