figure {
    display:inline-block;
    background-color: #efefef;
    border: 0px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,1);
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
}

img {
    width: 300px;
    height: auto;
}

figcaption {
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    font-weight: bolder;
}